<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h4>data</h4>
  
    <% show.forEach((i)=>{ %>
<span><%= i.name %></span>: <span><%= i.sal %></span>
   <% }) %>
</body>
</html>